:root{--syntax_normal:#1b1e23;--syntax_comment:#a9b0bc;--syntax_number:#20a5ba;--syntax_keyword:#c30771;--syntax_atom:#10a778;--syntax_string:#008ec4;--syntax_error:#ffbedc;--syntax_unknown_variable:#838383;--syntax_known_variable:#005f87;--syntax_matchbracket:#20bbfc;--syntax_key:#6636b4;--mono_fonts:82%/1.5 Menlo,Consolas,monospace}.observablehq--collapsed,.observablehq--expanded,.observablehq--function,.observablehq--gray,.observablehq--import,.observablehq--string:after,.observablehq--string:before{color:var(--syntax_normal)}.observablehq--collapsed,.observablehq--inspect a{cursor:pointer}.observablehq--field{text-indent:-1em;margin-left:1em}.observablehq--empty{color:var(--syntax_comment)}.observablehq--blue,.observablehq--keyword{color:#3182bd}.observablehq--forbidden,.observablehq--pink{color:#e377c2}.observablehq--orange{color:#e6550d}.observablehq--boolean,.observablehq--null,.observablehq--undefined{color:var(--syntax_atom)}.observablehq--bigint,.observablehq--date,.observablehq--green,.observablehq--number,.observablehq--regexp,.observablehq--symbol{color:var(--syntax_number)}.observablehq--index,.observablehq--key{color:var(--syntax_key)}.observablehq--prototype-key{color:#aaa}.observablehq--empty{font-style:oblique}.observablehq--purple,.observablehq--string{color:var(--syntax_string)}.observablehq--error,.observablehq--red{color:#e7040f}.observablehq--inspect{font:var(--mono_fonts);overflow-x:auto;display:block;white-space:pre}.observablehq--error .observablehq--inspect{word-break:break-all;white-space:pre-wrap}

#vis{
    width: 100%;
    height: 1000px;
    /*viewBox:    "0 0 2287 1276";*/
}

.State_chart{
    position: relative;
    width: 60%;
    height: 80%;
    /*border-style: solid;*/
    /*border-color: darkred;*/
    fill: none;
    stroke: #646464;
    stroke-width: 1px;
    stroke-linejoin: round;
    float: left;
}

.oberservablehq{
    opacity:0%;
}

#stats{
    position: relative;
    height: 30%;
    /*background-color: red;*/
    overflow-y: scroll;
    /*opacity: 0.5;*/
    /*float: left;*/
}
#stats_urls{
    position: relative;
    height: 70%;
    /*background-color: red;*/
    overflow-y: scroll;
    /*opacity: 0.5;*/
    /*float: left;*/
}
.State_chart_bubble{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.stats_container{
    position: relative;
    flex-basis: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    touch-action: none;
}
#explanation_and_results_main_container{
    position: relative;
    flex-basis: 25%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    touch-action: none;
}
